@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    max-width: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Lexend", sans-serif;
    color: black;
    /* background-color: var(--color-tertiary); */
}

:root {
    --color-primary: #086788;
    --color-secondary: #F87060;
    --color-tertiary: #B4EDD2;
    --color-quaternary: #A4A4A4;
    --color-quinary: #525252;
    --color-senary: #0f799c;
}